@font-face {
  font-family: GeoSans;
  src: url('./fonts/GeosansLight.ttf');
}
@font-face {
  font-family: CaviarDreams;
  src: url('./fonts/CaviarDreams.ttf');
}
@font-face {
  font-family: Ancient;
  src: url('./fonts/AncientAd.ttf');
}

body {
  background-color: #020531;
  font-family: GeoSans;
  user-select: none;
}
.header-item{
  background-color: #020531;
  /* background-color: #070101; */
  border-bottom: 1.2px solid #302e34b8;
  font-size: 1.3rem;
}
.about-page {
  border-top: 3.3px solid lavender;
  background: linear-gradient(5deg, #001D38 0%, #5441ab  100%);
}
.skills-page {
  border-top: 3.3px solid lavender;
  background-color: #1aa4cbc8;
  padding-top: 5vh;
  color: lavender;
}
.tools-page {
  border-top: 3.3px solid lavender;
  background-color: #437380;
  padding-top: 5vh;
}
.apps-page {
  border-top: 3.3px solid lavender;
  background-color: rgb(42, 7, 113);

}
.contact-page {
  background: linear-gradient(-5deg, #d526ac6d 0%,#437380 60% );
  border-top: 3px solid lavender;
  user-select: text;
}
.bottom-page {
  border-top: 1px solid lavender;
  background-color: #020531;
  min-height: 8vh;
}
.footer-container {
  min-height: 55vh;
  padding-top: 5vh;
}
.welcome-page {
  background-color: #5441ab;
  /* background: linear-gradient(5deg, #5441ab 0%, #ee2dc179 90%); */
}

.welcome-title {
  text-align: center;
  padding-top: 1.3rem;
  color: lavender;
  border-radius: 5px;
  background: #5441ab;
  box-shadow:  -20px 20px 60px #403182,
              20px -20px 60px #6851d4;
}
.welcome-message {
  color: lavender;
  font-size: 3.2rem;

}

.welcome-container {
  background-image: url('./images/dice.jpg');
  border-top: 2px solid #56e4e4;
  /* border-bottom: 2px solid #bfe8e8; */
  background-position: center;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 36vh;
  box-shadow: inset 5px 5px 10px #5092c7,
            inset -5px -5px 10px #6cc8ff;
}

.carousel-img {
  height: 50vh;
  width: 50vh;
}

.carousel-direction {
  font-size: 3rem;
  color: gray;
}
.carousel-direction:hover {
  color: lavender;
}
.carousel-indicators {
  color: #00ffffcd;
  font-size: 2rem;
}


.indicator-container {
  z-index: 30;
}

.slide-caption {
  font-size: 3rem;
  color: white;
  position: relative !important;
  z-index: 0;
  right: 0;
  left: 0;
}

.about-me .about-details h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #9984F1;
}
.about-me-title  {
  font-size: 2.2rem;
}

.about-icons {
  text-decoration: none;
}

.my-img {
  border: 2px solid steelblue;
}

.pointer:hover{
  cursor: pointer;
}
.pointer-spin:hover {
  color: pink;
  cursor: pointer;
}

.pointer-spin {
  transition: .7s;
}

a {
  color: lavender !important;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: .3s all;
}

a:hover {
  transition: .3s all;
  color: #00ffffcd !important;
  text-decoration: none;
}

a::before,
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 3px;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: inline-block;
  transition: .3s all;
}

a::after {
  width: 0%;
  background: linear-gradient(90deg, #90b1e9 0%, #99e4a4 100%);;
}

a:hover::after,
.content-div:hover .heading::after {
  width: 100%;
  transition: .3s all;
}

a.decoration-none:hover::before,
a.decoration-none:hover::after {
  display: none;
}

a.decoration-none:hover::before,
a.decoration-none:hover::after {
  display: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #8aa6bf80;
}
.navbar-icon {
  color: #00ffffcd;
}
.header-logo {
  height: 5vh;
  width: 5vh;
}

a:hover::after,
.content-div:hover .heading::after {
  width: 100%;
  transition: .3s all;
}

.active {
  color: #2d9393 !important;
  text-decoration: none;
}

.apps-title {
  color: cyan;
}

.app-card {
  border: 1px solid lavender;
  width: 35%;
  height: 15rem;
  font-size: 2rem;
  transition: .5s;
  color: #02041c;
  border-radius: 5px;
  background: linear-gradient(315deg, #069f9f, #07bdbd);
  box-shadow: 5px 5px 17px black;
}

.app-card:hover {
  cursor: pointer;
  border: 1px solid #99e4a4;
  background: #186982;
  color: #00ffffcd;
  transform: translateY(10px);
}

.app-example {
  margin: auto;
  height: 45vh;

}

.app-btn {
  font-size: 1.5rem;
  border: .5px solid rgb(157, 157, 167);
}

.app-btn:hover {
  color: pink !important;
  text-decoration: none;
}

.app-title {
  font-size: 2rem;
  color: lavender;
  text-decoration: underline;
  text-decoration-color: #9984F1;
}
.app-info {
  font-size: 1.5rem;
  color: #99e4a4;
}
.app-basket {
  transition: opacity 0.3s;
  opacity: 1;
  border: 1px solid #9984F1;
  width: 75%;
  background: #2f5059;
  border-radius: 5px;
}
.app-basket.hide {
  opacity: 0;
  pointer-events:none;
}

.project-icon {
  height: 7.5vh;
  width: 7.5vh;
  margin-top: 5%;
  background-color: #4682b4;
  margin: auto;
  border: 1px solid #3F2B96;
  border-radius: 50%;
  background: #4682b4;
  box-shadow: inset -10px -10px 20px #447cab,
              inset 10px 10px 20px #6cc8ff;
}

.big-app-icon {
  height: 20vh;
  width: 20vh;
  margin-top: 5%;
  background-color: #64a2d5;
  margin: auto;
  border-radius: 22px;
  background: #64a2d5;
  box-shadow: inset -10px -10px 20px #467195,
              inset 10px 10px 20px #82d3ff;
}
.big-app-card {
  background-color: steelblue;
  color: #99e4a4;
  font-size: 1.4rem;
}
.card-footer {
  background-color: #3e719b;
  font-size: 1.2rem;
}

.welcome-page,
.skills-page,
.tools-page,
#applications {
  padding-top: 5vh;
  min-height: 95vh;
}

.about-description {
  padding-top: 5vh;
  min-height: 95vh;
  color: lavender;
}
.about-paragraphs {
  font-size: 1.3rem;
}

.color-pattern {
  position: absolute;
  right: 0px;
  top: -100px;
  z-index: -1;
}

.my-pic {
  width: 120%;
  height: 80%;
}

.about-icon {
  font-size: 3.25rem;
  color: #07b1b1;
  transition: .25s;

}

.about-icon:hover {
  transform: scale(1.1);
  color: #2a8e8e;
}

.skills-card,
.tools-card {
  text-align: center;
  font-family: CaviarDreams;
  border: 1px solid #a3cae9;
  transition: .75s;
}

.skills-header,
.tools-header {
  color: lavender;
  font-weight: 900;
}

.skills-card {
  /* background-color: #3c159878; */
  border: 1px solid #ffffff95;
  /* background-color: #252d83; */
  color: #00ffffe7;
  padding-bottom: 1rem;
  font-size: 8vh;
  border-radius: 22px;
  background: #252d83;
  box-shadow: inset -5px -5px 17px #1a205c,
              inset 5px 5px 17px #303baa;
  transition: .25s;
}

.skills-card:hover {
  background: #252d83;
  box-shadow: inset -5px -5px 17px #303baa,
              inset 5px 5px 17px #1a205c;
}

.tools-card {
  font-size: 7vh;
  color: whitesmoke;
  /* background-color: #493260; */
  border-radius: 22px;
  background: #493260;
  box-shadow: inset -5px -5px 17px #3a284c,
              inset 5px 5px 17px #5f437d;
  transition: .25s;
}

.tools-card:hover {
  background: #493260;
  box-shadow: inset -5px -5px 17px #5f437d,
              inset 5px 5px 17px #3a284c;
}

.footer-title {
  font-size: 3rem;
  font-weight: 750;
  color: #44ddfc;
}
.contact-row {
  color: #99e4a4;
  font-size: 1.4em;
  font-weight: 700;
}
.contact-row a {
  color: #fafafe !important;
}
.contact-row a:hover {
  color: #99e4a4!important;
}
.menu-links {
  color: lavender;
    margin-top: 4rem;
}
.footer-icon {
  transition: .25s;
  font-size: 3.5rem;
  color: #25bbd8;
}
.footer-icon:hover {
  transform: scale(1.1);
  color: #397cc4;
}
.credits-bar{
  color: lavender;
}

.slide-in {
  animation: slide-in 1s;
}

.fade-in {
  animation: fade-in 1s;
}

.smash-quote {
  opacity: 0;
  transition: .5s;
}

.smash-quote:hover{
  opacity: 100;
}

.scroll{
  right: 36px;
  bottom: 36px;
  height: 110px;
  width: 8px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  vertical-align: inherit;
  position: fixed;
  z-index: 888;
  color: lavender;
  text-align: center;
}
.scroll:before {
  height: 60px;
  width: 2px;
  opacity: .25;
}
.scroll:after {
  animation: slide;
  transition: background 0.3s cubic-bezier(0.215, 0.6, 0.3555, 1);
  transition-property: background;
  transition-duration: 0.25s;

}
.scroll:before,
.scroll:after {
  content:'';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background: cyan;
  /* animation: scroll-animation 1.5s infinite; */
}

.aside {
  content: "";
  display: block;
  position: fixed;
  right: 25px;
  bottom: 50vh;
  height: 110px;
  width: 8px;
  z-index: 999;
}

.aside-icon {
  font-size: 1.8rem;
  border-radius: 50%;
  text-shadow: 5px 5px 10px black;

}

.aside-icon:hover {
  transition: .2s ease-out;
  color: #ee2dc179 !important;
  opacity: .5;
}

.mobile-header-icons {
  display: none;
}

@media (max-height: 414px){
  .welcome-container{
    display: none;
  }
}

@media(max-width: 1024px){
  .about-paragraphs {
    font-size: 1.8rem;
  }
  .description-container{
    margin-left: 2rem;
  }
}
@media (max-width: 768px) {
  .mobile-skills-row {
    justify-content: space-evenly;
  }
 .carousel-img {
    margin: auto;
  }
  .about-paragraphs {
    font-size: 1.4rem;
  }
  .app-card {
    font-size: 1.5rem;
  }

}


@media (max-width: 575px) {
  .mobile-header-icons {
    display: flex;
  }

  .aside{
    display: none;
  }

  .carousel-img {
    width: 100%;
  }

  .mobile-skills-row {
    justify-content: space-evenly;
  }

  .skills-text {
    font-size: 1.3rem;
  }

  .mobile-skills-card {
    margin-bottom: 15px;
    padding: 0px;
    width: 45%;
  }
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-out, transform .5s ease-out,
    visibility 1s ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide-in {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0%); }
}

@keyframes slide-out {
  0% { transform: translateY(0%); }
  100% { transform: translateY(100%); }
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-600px, 0, 0);
  }
}

@keyframes scroll-animation {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0 , -50px);
  }
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 50%;
  animation: drift 3000ms infinite linear;
}

.wave.third {
  animation: drift 5000ms infinite linear;
}

.wave.second {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.wavytitle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
